version: '3.9'

services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile.dev
    container_name: backend
    restart: always
    env_file:
      - ../.env
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    depends_on:
      - mongo

  gateway:
    build:
      context: ../gateway
      dockerfile: Dockerfile.dev
    container_name: gateway
    restart: always
    env_file:
      - ../.env
    ports:
      - "${GATEWAY_PORT}:${GATEWAY_PORT}"
    depends_on:
      - backend
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db      

volumes:
  mongo_data:
